.formControl{
    height: 5rem;
    width: 30rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 1px;
}
input{
    border: 1px solid #ccc;
    border-radius: 5px 0px 0px 5px;
    padding: 5px 3px;
    outline: none;
    width: 17rem;
    height: 2rem;
}
input:focus{
    border: 1px solid blueviolet;
}
.btn{
    color: #6d28d9;
    background-color: #fff;
    border: 1px solid #6d28d9;
    border-radius: 0px 5px 5px 0px;
    outline: none;
    padding: 5px 10px;
    cursor: pointer;
    height: 2rem;
    width: 3rem;
}
.addTodo{
    color: #fff;
    background-color: #6d28d9;
  }