.formControl{
    height: 5rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 1px;
    position: absolute;
    top: 50%;
    right: 0;
    left: 0;
}
input{
    border: 1px solid #ccc;
    border-radius: 5px 0px 0px 5px;
    padding: 5px 8px;
    outline: none;
    width: 13rem;
    height: 2rem;
    margin: 20px 0px 35px 0px; 
}
input:focus{
    border: 1px solid rgb(161, 161, 161);
}
.btn{
    color: #fff;
    background-color: #62a5e1;
    border: none;
    border-radius: 0px 5px 5px 0px;
    margin: 20px 0px 35px 0px; 
    outline: none;
    padding: 5px 10px;
    cursor: pointer;
    height: 2rem;
    width: 3rem;
}
.addTodo{
    color: #fff;
    background-color: #4eb8af;
  }