.todo{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 20rem;
    height: 3rem;
    padding: 0px 20px;
    border-bottom: 1px solid #ccc;
    color: #3f3f46;
}
.todo:last-child{
    border: none;
}
.editBtn{
    color: #4794e0;
    border: none;
    border-radius: 5px;
    outline: none;
    padding: 0px 5px;
    cursor: pointer;
    font-size: 20px;
}
.removeBtn{
    color: #11b886;
    border: none;
    margin-left: 10px;
    border-radius: 5px;
    outline: none;
    padding: 0px 5px;
    cursor: pointer;
    font-size: 20px;
}