.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30rem;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 19px;
  }