.TodoApp {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 25rem;
  height: 92vh;
  background-color: #efefef;
  border: 1px solid #ccc;
  border-radius: 10px;
  position: relative;
}

@media only screen and (max-width: 768px) {

  .container {
    height: 100vh;
    width: 100%;
    border-radius: 0px;
    border: none;
  }
}
