.App {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  padding: 10px;
}
.App h1 {
  margin-bottom: 30px;
  color: #3f3f46;
}
.todoText {
  cursor: pointer;
  font-weight: bold;
}
.completed {
  text-decoration: line-through;
  color: #ccc;
}
