.App{
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  padding: 10px;
}
.App h1{
  margin-bottom: 30px;
}
.container{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 40rem;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 19px;
}
.todo{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 20rem;
  margin: 10px 0;
}
.completed{
  text-decoration: line-through;
  color: #ccc;
}
input{
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 5px 3px;
  outline: none;
  width: 200px;
}
input:focus{
  border: 2px solid blueviolet;
}
.formComtrol{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 20rem;
  margin-bottom: 20px;
}
.btn{

  color: #6d28d9;
  background-color: #fff;
  border: 1px solid #6d28d9;
  border-radius: 5px;
  outline: none;
  padding: 5px 10px;
  cursor: pointer;
}
.remove{
  color: rgb(236, 68, 68);
  border: 1px solid rgb(236, 68, 68);
  margin-left: 10px;
}
.addTodo{
  color: #fff;
  background-color: #6d28d9;
}