.App {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  padding: 10px;
}
.App h1 {
  margin-bottom: 30px;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 25rem;
  height: 30rem;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.todoText {
  cursor: pointer;
  font-weight: bold;
}
.completed {
  text-decoration: line-through;
  color: #ccc;
}

header {
  margin-bottom: 30px;
  display: flex;
  align-items: center;
}
h2{
  padding-top: 20px;
}
/* header span {
  margin-right: 20px;
  display: inline-block;
  width: 20px;
  font-size: 14px;
  height: 20px;
  background-color: #d0c7f7;
  color: #6d28d9;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
} */
